section.banks-integration 
  h2.banks-integration__title Банки и интеграции
  .banks-integration__cards 
    .banks-integration__card
      h3.banks-integration__name Банки
      .banks-integration__banks 
        img(src=require('../images/point-bank.png'), alt="Точка банк")
        img(src=require('../images/tinkoff-bank.png'), alt="Тинькофф")
        img(src=require('../images/modul-bank.png'), alt="Modulbank")
      hr.banks-integration__line
      .banks-integration__extra 
        img(src=require('../images/plus-icon.png'), alt="Плюс")
        img(src=require('../images/file-icon.png'), alt="CSV")
        p.banks-integration__extra-title Загрузка из 
          strong.banks-integration__1c 1C
    .banks-integration__card
      h3.banks-integration__name Интеграции
      .banks-integration__list
        .banks-integration__item 
          img(src=require('../images/bell-icon.png'), alt="Уведомление")
          p.banks-integration__integr Push-web уведомления
        .banks-integration__item 
          img(src=require('../images/email-icon.png'), alt="Почта")
          p.banks-integration__integr E-mail уведомления
        .banks-integration__item 
          img(src=require('../images/telegram-icon.png'), alt="Телеграм")
          p.banks-integration__integr Telegram