section.cases 
  h2.cases__title Кейсы
  .cases__list 
    .cases__item.cases__item_active
      .cases__imgs 
        img(src=require('../images/bitrix-mini-logo.png'), alt='Битрикс')
        img(src=require('../images/everypay-mini-logo.png'), alt='Everypay')
        img(src=require('../images/telegram-mini-logo.png'), alt='Телеграм')
      .cases__content 
        h3.cases__name Автоматизация диджитал-агентства
        a.cases__link(href='#') Читать кейс
          img(src=require('../images/cherovn-icon.png'), atl='Ссылка')
    .cases__item 
      .cases__imgs 
        img(src=require('../images/bitrix-mini-logo.png'), alt='Битрикс')
        img(src=require('../images/everypay-mini-logo.png'), alt='Everypay')
        img(src=require('../images/point-mini-logo.png'), alt='Точка банк')
      .cases__content 
        h3.cases__name Приём платежей в рекламной медиа-группе
        a.cases__link(href='#') Читать кейс
          img(src=require('../images/cherovn-icon.png'), atl='Ссылка')
    .cases__item 
      .cases__imgs 
        img(src=require('../images/bitrix-mini-logo.png'), alt='Битрикс')
        img(src=require('../images/everypay-mini-logo.png'), alt='Everypay')
        img(src=require('../images/point-mini-logo.png'), alt='Точка банк')
      .cases__content 
        h3.cases__name Оптимизация бухгалтерии в производственной компании
        a.cases__link(href='#') Читать кейс
          img(src=require('../images/cherovn-icon.png'), atl='Ссылка')
  .cases__control 
